Rohith/metadata_ingestion.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "parameters_tables",
                "fileName": "params.json"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "sales_lh",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "3c495e19-7e1e-9d0a-472a-91141e6f809b",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get_Config",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get_Config').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "71dd51aa-d138-ab58-4990-829125c63076",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "table_name": {
                    "value": "@item().table_name",
                    "type": "string"
                  },
                  "folder_name": {
                    "value": {
                      "value": "@item().folder_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "bronze_table": {
                    "value": {
                      "value": "@item().bronze_table",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Notebook_Ingestion",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach_Table",
        "dependsOn": [
          {
            "activity": "Get_Config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}