Rohith/bronze_ingestion_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "parameters_tables",
                "fileName": "params.json"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "sales_lh",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "3c495e19-7e1e-9d0a-472a-91141e6f809b",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get_Config",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "59459eae-7cb7-92a0-48e4-62aeb4f54cb4",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "config_json": {
              "value": {
                "value": "@string(activity('Get_Config').output.value)",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Ingestion_nb",
        "dependsOn": [
          {
            "activity": "Get_Config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}